<app-main-container [title]="'Hola titulo'">
    <div  title class="flex-space-between">
        <button>asd</button>
        <button>asd</button>
    </div>
    
    <div table-data>
        <nz-table #basicTable >
            <thead>
              <tr>
                <th>ID</th>
                <th>Orden</th>
                <th>Código</th>
                <th>Campo</th>
                <th>Editable</th>
                <th>Activo</th>
                <th>Opc</th>
              </tr>
            </thead>
            <tbody>
             
            </tbody>
          </nz-table>
    </div>   
</app-main-container>

